#!/bin/sh

# TODO modify the following installation
python3 -m pip install Cython
python3 -m pip install autopep8
python3 -m pip install h5py
python3 -m pip install matplotlib
python3 -m pip install numpy
python3 -m pip install pandas
python3 -m pip install Pillow
python3 -m pip install seaborn
python3 -m pip install requests
python3 -m pip install scipy
python3 -m pip install scikit-learn
python3 -m pip install yapf
python3 -m pip install pydotplus
python3 -m pip install bs4
python3 -m pip install nltk
python3 -m pip install mock
python3 -m pip install cupy
python3 -m pip install chainer
python3 -m pip install keras
python3 -m pip install gensim
python3 -m pip install elasticsearch
python3 -m pip install common-ml
python3 -m pip install predictionio
python3 -m pip install pyenchant
python3 -m pip install tdqm
python3 -m pip install spacy
python3 -m spacy download en
python3 -m pip install hunspell
python3 -m pip install numba
python3 -m pip install janome
python3 -m pip install xgboost
python3 -m pip install lightgbm
python3 -m pip install mlxtend
python3 -m pip install better_exceptions
python3 -m pip install esanpy
if [ -d /usr/local/nvidia ] ; then
  python3 -m pip install tensorflow-gpu
else
  python3 -m pip install tensorflow
fi
conda install -y pygpu
python3 -m pip install edward
